%title Sign in
.sign-in Sign In

.sign-in-form
  = form_for(:session, url: sessions_path) do |f|
    = f.text_field :email, :placeholder => "Email"
    = f.password_field :password, :placeholder => "Password"
    = f.submit "Sign in"

  .new-user-container 
    .new-user New user?
    = link_to "Sign up now!", signup_path, :class => "sign-up-now"