= form_for @listing do |f|
  - if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    Positions available:
    = f.number_field :positions
  .field
    Are you a customer or service provider?
    = f.select :category, User.categories
  .field
    = f.label :audience
    = f.select :audience, User.audiences

  .actions
    = f.submit 'Save Listing'


