= form_for @listing, :html => { :class => 'form-horizontal' } do |f|
  
  - if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'long-input'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'long-input'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price
  .control-group
    = f.label :start_time, :class => 'control-label'
    .controls
      .input-append.date{ :id => 'datetimepicker'}
        = f.text_field :start_time
        %span{ :class => 'add-on' }
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
  .control-group
    = f.label :end_time, :class => 'control-label'
    .controls
      .input-append.date{ :id => 'datetimepicker2'}
        = f.text_field :end_time
        %span{ :class => 'add-on' }
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
  .control-group
    = f.label :positions, :class => 'control-label'
    .controls
      = f.number_field :positions
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.select :category, Listing.categories
  .control-group
    = f.label :audience, :class => 'control-label'
    .controls
      = f.select :audience, Listing.audiences
  .form-actions
    = f.submit 'Save Listing', :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), listings_path, :class => 'btn'
