%p#notice= notice

%h1= @listing.title
%p= @listing.description
%p
  Positions available: 
  = @listing.positions
%p
  Start Date: 
  = @listing.start_time
%p
  End Date: 
  = @listing.end_time
%p
  This listing is available for: @listing.audience

- if admin_user? or current_user? @listing.user
  = link_to 'Edit Listing', edit_listing_path(@listing)
  = link_to 'Delete Listing', @listing, :method => :delete, :data => { :confirm => 'Are you sure?' }