= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .signup-form
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label "New password"
      = f.password_field :password
    .field
      = f.label "Confirm new password"
      = f.password_field :password_confirmation
    .field
      = f.label "Password"
      = f.password_field :password_authenticate
    .actions
      = f.submit 'Save'
