%p
  %b Name:
  = @user.name

= render 'profile_friendship'
= render 'listings'
.notifications
  = render 'notification_list'
= render 'friend_list'

- if @user.is_user? current_user
  = render 'friend_requests'
  = render 'friends_pending'
  /= link_to 'Edit Information', edit_user_registration_path
  