%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

= render 'profile_friendship'
= render 'notification_list'
= render 'friend_list'

- if current_user? @user
  = render 'friend_requests'
  = render 'friends_pending'

- if correct_or_admin_user?
  = link_to 'Edit Information', edit_user_path(@user)
  = link_to "Delete Account", @user, :method => :delete, :data => { :confirm => 'Are you sure?' }