- if @show_friend_requests
  = link_to (image_tag "friend_request.svg"), params.merge(show_friend_requests: false)
  %div
    - @user.requested_friends.each do |requested_friend|
      %p
        = link_to requested_friend.name, requested_friend
        = link_to "Accept", friendship_create_path(accept_request: true, friend_id: requested_friend)
        = link_to "Decline", friendship_destroy_path(friend_id: requested_friend)
    %p= link_to "View all friendship requests", current_user
- else
  - if current_user.has_friend_requests?
    = current_user.requested_friendships.count
  = link_to (image_tag "friend_request.svg"), params.merge(show_friend_requests: true, show_notifications: false,user_id: current_user.id)
