= link_to "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"} do
  = image_tag "bell_icon.svg"
  - if current_user.has_unseen_notifications?
    %span{ :class => "badge badge-success" }
      = current_user.unseen_notifications_count
%ul{ :class => 'dropdown-menu' }
  %li
    .mini
      .pull-left
        %strong Notifications
      .pull-right
        = link_to "Mark all notifications as read", "#{current_page}?read_notification=all"
  %li{ :class => "divider" }
  - current_user.latest_7_notifications.each do |notification|
    %li
      = link_to "#{notification.tunnel}?read_notification=#{notification.id}" do
        - unless notification.seen?
          %span{ :class => "label label-info" } new
        = notification.body
    %li{ :class => "divider" }
  %li
    .mini
      = link_to "View all notifications", current_user
