%div.user-bar
  %div.logo 
    = link_to "Boost", root_path
  - if signed_in?
    %div.notification-icon
      = render "shared/notifications"
  %div.right
    - if signed_in?
      = link_to current_user.name, current_user
      |
      = link_to 'Settings', edit_user_path(current_user)
    - else
      = link_to "Login with Facebook", "/auth/facebook"
      = link_to "Login with Twitter", "/auth/twitter"