<!DOCTYPE html>
<html>
<head>
  <title>Boost</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    Welcome <%= link_to current_user.name, current_user %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    Don't use these services?
    <%= link_to "Create an account", "/auth/identity/register" %> or
    <%= link_to "login", "/auth/identity" %> with a password.
  <% end %>
  <% flash.each do |key, value| %>
    <div class="flash"><%= value %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
